@using VINMediaCaptureEntities.Enum
@using VINMediaCaptureEntities.ViewModel
@model DetailProductDocModel
<h2>@(String.Format("{0} - {1} -{2}", Model.Model.ModelName, String.Format("{0}{1}{2}", Model.Model.ModelCode, Model.Market.MarketCode, Model.Color.ColorCode), Model.Vincode))</h2>
<table class="table table-bordered">
    <thead>
    <th>Tên thuộc tính</th>
        @{
            if (Model.DocType == (int)EDocType.ThuThapQC)
            {
            <th>Kiểu dữ liệu</th>
            }
        }

    <th>Giá trị</th>
    </thead>
    <tbody id="tbodyModels">
        @{
            if (Model.DocType == (int)EDocType.ThuThapQC)
            {
                if (Model.ProductDocValInfo == null || !Model.ProductDocValInfo.Any())
                {
                <td colspan="3">Không có dữ liệu</td>
                }
                else
                {
                    foreach (var item in Model.ProductDocValInfo)
                    {
                    <tr>
                        <td>@item.DocTypeItem.ItemName</td>
                        <td>@(((EAttrDataType)item.DocTypeItemAttr.AttrDataType).GetDescription())</td>
                        <td>
                                @{
                                    if (item.DocTypeItemAttr.AttrDataType == (int)EAttrDataType.IMGCAPT)
                                    {
                                    <a href="@Url.Action("Download","ProductDoc", new{url=item.ProductDocVal.AttrValue})"><img src="@item.ProductDocVal.AttrValue" style="width:100px" /></a>
                                    }
                                    else if (item.DocTypeItemAttr.AttrDataType == (int)EAttrDataType.BOOLEAN)
                                    {
                                    <label>@item.ProductDocVal.AttrValue</label>
                                    }
                                    else
                                    {
                                    <label>@item.ProductDocVal.AttrValue</label>
                                    }
                                }
                        </td>
                    </tr>
                    }
                }
            }
            else
            {
                if (Model.ProductDocValInfo == null || !Model.ProductDocValInfo.Any())
                {
                <td colspan="2">Không có dữ liệu</td>
                }
                else
                {
                    foreach (var item in Model.ProductDocValInfo)
                    {
                    <tr>
                        <td>@item.DocTypeItem.ItemName</td>
                        <td>

                                @{
                                    if (System.IO.Path.GetExtension(item.ProductDocVal.AttrValue).ToLower() == ".pdf")
                                    {
                                    <a target="_blank" href="/pdfviewer/web/viewer.html?file=@item.ProductDocVal.AttrValue"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Download","ProductDoc", new{url=item.ProductDocVal.AttrValue})"><i class="fa fa-download"></i></a>
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("Download","ProductDoc", new{url=item.ProductDocVal.AttrValue})"><img src="@item.ProductDocVal.AttrValue" style="width:100px" /></a>
                                    }

                                }
                        </td>
                    </tr>
                    }
                }
            }
        }
    </tbody>
