@using VINMediaCaptureEntities.Enum
@using VINMediaCaptureEntities.ViewModel
@{
    ViewBag.Title="Quản lý người sử dụng";
}
@model UserViewModel
<form action="@Url.Action("Index","User")" method="post" id="frmForm">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Quản lý người dùng</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Người dùng</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Tên người dùng</label>

                                            <input type="text" class="form-control col-md-8" id="LoginName" name="LoginName" placeholder="Tên người dùng" value="@Model.Search.LoginName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Trạng thái</label>
                                            <select class="col-md-8 form-control" id="cboDisable" name="Disabled">
                                                <option value="-1">-- Chọn --</option>
                                                @{
                                                    if (Model.Search.Disabled == (int)EStatus.Active)
                                                    {
                                                        <option value="@((int)EStatus.Active)" selected="selected">@(EStatus.Active.GetDescription())</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@((int)EStatus.Active)">@(EStatus.Active.GetDescription())</option>
                                                    }
                                                    if (Model.Search.Disabled == (int)EStatus.InActive)
                                                    {
                                                        <option value="@((int)EStatus.InActive)" selected="selected">@(EStatus.InActive.GetDescription())</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@((int)EStatus.InActive)">@(EStatus.InActive.GetDescription())</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <button class="btn btn-success" id="btnSearch"><i class="fa fa-find"></i>Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Chi tiết người dùng</h3>
                                <div class="dropdown right float-right">
                                    <a class="btn btn-success" type="button" href="@Url.Action("Create","User")">
                                        <i class="fa fa-plus"></i>Thêm người dùng
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Tên đăng nhập</th>
                                    <th>Trạng Thái</th>
                                    <th>Hành Động</th>
                                    </thead>
                                    <tbody id="tbodyUserss">
                                        @{
                                            if (Model.Users == null || !Model.Users.Any())
                                            {
                                            <td colspan="3">Không có dữ liệu</td>
                                            }
                                            else
                                            {
                                                foreach (var item in Model.Users)
                                                {
                                                <tr>
                                                    <td>@item.LoginName</td>
                                                    <td>@(((EStatus)item.Disabled).GetDescription())</td>
                                                    <td>
                                                        <a href="@Url.Action("Create","User",new {id=item.UserID})"><i class="fa fa-pen"></i></a>
                                                        <a href="#" onclick="DeleteUsers(@item.UserID)"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
<input type="hidden" id="urlDeleteUsers" value="@Url.Action("Delete","Users")" />
<script src="~/js/Users/index.js"></script>