@using VINMediaCaptureEntities.Enum
@using VINMediaCaptureEntities.ViewModel
@{
    ViewBag.Title="Quản lý sản phẩm";
}
@model ModelViewModel
<form action="@Url.Action("Index","Model")" method="post" id="frmForm">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Quản lý Sản phẩm</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Sản phẩm</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Mã sản phẩm</label>

                                            <input type="text" class="form-control col-md-8" id="modelCode" name="ModelCode" placeholder="Mã màu" value="@Model.Search.ModelCode">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Tên sản phẩm</label>
                                            <input type="text" class="col-md-8 form-control" id="modelName" name="ModelName" placeholder="Tên sản phẩm" value="@Model.Search.ModelName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Trạng thái</label>
                                            <select class="col-md-8 form-control" id="cboDisable" name="Disable">
                                                <option value="-1">-- Chọn --</option>
                                                @{
                                                    if (Model.Search.Disable == (int)EStatus.Active)
                                                    {
                                                        <option value="@((int)EStatus.Active)" selected="selected">@(EStatus.Active.GetDescription())</option>
                                                    }
                                                    else{
                                                        <option value="@((int)EStatus.Active)">@(EStatus.Active.GetDescription())</option>
                                                    }
                                                    if (Model.Search.Disable == (int)EStatus.InActive)
                                                    {
                                                        <option value="@((int)EStatus.InActive)" selected="selected">@(EStatus.InActive.GetDescription())</option>
                                                    }
                                                    else{
                                                        <option value="@((int)EStatus.InActive)">@(EStatus.InActive.GetDescription())</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success" id="btnSearch"><i class="fa fa-find"></i>Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Chi tiết Sản phẩm</h3>
                                <div class="dropdown right float-right">
                                    <a class="btn btn-success" type="button" href="@Url.Action("Create","Model")">
                                        <i class="fa fa-plus"></i>Thêm sản phẩm
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Trạng Thái</th>
                                    <th>Hành Động</th>
                                    </thead>
                                    <tbody id="tbodyModels">
                                        @{
                                            if (Model.Models == null || !Model.Models.Any())
                                            {
                                            <td colspan="4">Không có dữ liệu</td>
                                            }
                                            else
                                            {
                                                foreach (var item in Model.Models)
                                                {
                                                <tr>
                                                    <td>@item.ModelCode</td>
                                                    <td>@item.ModelName</td>
                                                    <td>@(((EStatus)item.Disable).GetDescription())</td>
                                                    <td>
                                                        <a href="@Url.Action("Create","Model",new {id=item.ModelID})"><i class="fa fa-pen"></i></a>
                                                        <a href="#" onclick="DeleteModel(@item.ModelID)"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                    
                                                </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
<input type="hidden" id="urlDeleteModel" value="@Url.Action("Delete","Model")" />
<script src="~/js/model/index.js"></script>